:root {
  --green: #57a938;
  --gray: #6d737a;
}

* {
  margin: 0;
  padding: 0;
}

.prev,
.prev-green {
  width: 50px !important;
  height: 40px;
}

.all-category {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
}

a {
  text-decoration: none !important;
}

p {
  margin: 0 !important;
}

#popular-category {
  margin-top: 80px;
}
#popular-category .popular-category-btn a {
  color: var(--green);
}
#popular-category .span-green {
  color: var(--green);
}
#popular-category .popular-category-des {
  color: var(--gray);
}
#popular-category .popular-category-item {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-top: 60px;
}
#popular-category .popular-category-item .popular-category-item-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #364a2f;
  padding: 10px 0;
}
#popular-category .popular-category-item .popular-category-item-title img {
  width: 34px;
  height: 34px;
}
#popular-category .popular-category-item .popular-category-item-title .prev {
  width: 50px;
  height: 40px;
}
#popular-category .popular-category-item .popular-category-item-img img {
  border-radius: 0 0px 10px 10px;
}

#popular-course {
  margin-top: 80px;
}
#popular-course .span-green {
  color: var(--green);
}
#popular-course .popular-course-des {
  color: var(--gray);
}
#popular-course .popular-course-btn a {
  color: var(--green);
}
#popular-course .popular-course-item {
  margin-top: 30px;
  border: 1px solid #f1f1f1;
}
#popular-course .popular-course-item .popular-course-item-img img {
  border-radius: 10px 10px 0 0;
}
#popular-course .popular-course-item .popular-course-item-title {
  padding: 20px;
}
#popular-course .popular-course-item .popular-course-item-title h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  word-break: break-word;
}
#popular-course .popular-course-item .popular-course-item-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
#popular-course .popular-course-item .popular-course-item-title-star {
  gap: 5px;
}
#popular-course .popular-course-item .popular-course-item-title-star .star-text {
  color: #fbb500;
  padding: 0 5px;
}
#popular-course .popular-course-item .popular-course-item-title-star img {
  width: 15px;
  height: 15px;
}