* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --green: #57a938;
  --gray: #6d737a;
}

a {
  text-decoration: none !important;
  color: inherit;
}

li {
  list-style: none;
}

p {
  margin: 0 !important;
}

.prev,
.prev-green {
  width: 30px !important;
  height: 30px;
}

.all-category {
  font-weight: 600;
  font-size: 16px;
  line-height: 36px;
}

.container-fluid {
  padding-right: calc(var(--bs-gutter-x) * 0) !important;
  padding-left: calc(var(--bs-gutter-x) * 0) !important;
}

.row {
  margin-top: calc(0 * var(--bs-gutter-y)) !important;
  margin-right: calc(0 * var(--bs-gutter-x)) !important;
  margin-left: calc(0 * var(--bs-gutter-x)) !important;
  --bs-gutter-x: 0rem !important;
  --bs-gutter-y: 0 !important;
}

#header-main {
  margin: 24px 0;
}
#header-main .header-category a {
  color: var(--grey);
  padding: 0 12px;
}
#header-main .header-category a button {
  background-color: black;
  color: white;
  border-radius: 5px;
  padding: 10px 20px;
}

#header-top {
  margin: 24px 0;
}

#popular-category {
  margin-top: 80px;
}
#popular-category .popular-category-btn a {
  color: var(--green);
}
#popular-category .span-green {
  color: var(--green);
}
#popular-category .popular-category-des {
  color: var(--gray);
}
#popular-category .popular-category-item {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  margin-top: 60px;
}
#popular-category .popular-category-item .popular-category-item-title {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 600;
  font-size: 15px;
  line-height: 21px;
  color: #364a2f;
  padding: 10px 0;
}
#popular-category .popular-category-item .popular-category-item-title img {
  width: 34px;
  height: 34px;
}
#popular-category .popular-category-item .popular-category-item-title .prev {
  width: 50px;
  height: 40px;
}
#popular-category .popular-category-item .popular-category-item-img img {
  border-radius: 0 0px 10px 10px;
}

@media only screen and (max-width: 767px) {
  #popular-category {
    margin: 20px 0;
  }
  #popular-category .popular-category-item {
    margin: 20px 0;
  }
}
#popular-course {
  margin-top: 80px;
}
#popular-course .span-green {
  color: var(--green);
}
#popular-course .popular-course-des {
  color: var(--gray);
}
#popular-course .popular-course-btn a {
  color: var(--green);
}
#popular-course .popular-course-item {
  margin-top: 30px;
  border: 1px solid #f1f1f1;
}
#popular-course .popular-course-item .popular-course-item-img img {
  border-radius: 10px 10px 0 0;
}
#popular-course .popular-course-item .popular-course-item-title {
  padding: 20px;
}
#popular-course .popular-course-item .popular-course-item-title h3 {
  font-size: 23px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0px;
  text-align: left;
  word-break: break-word;
}
#popular-course .popular-course-item .popular-course-item-title p {
  font-size: 14px;
  font-weight: 400;
  line-height: 28px;
}
#popular-course .popular-course-item .popular-course-item-title-star {
  gap: 5px;
}
#popular-course .popular-course-item .popular-course-item-title-star .star-text {
  color: #fbb500;
  padding: 0 5px;
}
#popular-course .popular-course-item .popular-course-item-title-star img {
  width: 15px;
  height: 15px;
}

@media only screen and (max-width: 767px) {
  #popular-course {
    margin: 20px 0;
  }
}
#our-teachers {
  margin: 100px 0;
}
#our-teachers .span-green {
  color: var(--green);
}
#our-teachers .our-teachers-des {
  color: var(--gray);
}
#our-teachers .our-teachers-btn a {
  color: var(--green);
}
#our-teachers .card {
  margin-top: 50px;
  border-radius: 10px;
  border: none;
  -webkit-box-shadow: 0px 0px 66px 49px rgba(34, 60, 80, 0.09);
  -moz-box-shadow: 0px 0px 66px 49px rgba(34, 60, 80, 0.09);
  box-shadow: 0px 0px 66px 49px rgba(34, 60, 80, 0.09);
}
#our-teachers .card .card-title {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: #1b1d1f;
}
#our-teachers .card .card-desc {
  margin-top: 10px !important;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #6d737a;
}
#our-teachers .card img {
  border-radius: 10px 10px 0 0;
  padding: 10px;
}

@media only screen and (max-width: 767px) {
  #our-teachers {
    margin: 20px 0 !important;
  }
}
#reviews {
  margin: 80px 0;
  padding: 50px;
  background: rgb(246, 247, 250);
}
#reviews .reviews-title {
  margin: 40px 0;
}
#reviews .span-green {
  color: var(--green);
}
#reviews .reviews-des {
  color: var(--gray);
}
#reviews .card {
  padding: 10px;
  border-radius: 20px;
  border: none;
}
#reviews .card .star {
  margin: 10px 0;
}
#reviews .card .star img {
  width: 20px;
  height: 20px;
}
#reviews .card .card-text {
  margin: 20px 0;
}
#reviews .card .card-text p {
  font-size: 16px;
  font-weight: 400;
  line-height: 32px;
}
#reviews .card .card-profile {
  display: flex;
  justify-content: start;
  gap: 30px;
}
#reviews .card .card-profile .card-profile-img img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
#reviews .card .card-profile .card-profile-text .card-profile-name {
  font-size: 17px;
  font-weight: 600;
  line-height: 21px;
  color: #1b1d1f;
}
#reviews .card .card-profile .card-profile-text .card-profile-desc {
  color: #57a938;
}

@media only screen and (max-width: 767px) {
  #reviews {
    padding: 10px;
    margin: 10px 0;
  }
  #reviews .reviews-title {
    margin: 10px 0;
  }
}
#footer {
  margin: 80px 0;
}
#footer .footer-logo img {
  width: 144px;
  height: 74px;
}
#footer .footer-text {
  margin: 25px 0 10px 0;
  font-size: 18px;
  font-weight: 400;
  line-height: 21px;
}
#footer .email-send input {
  border: none;
  height: 50px;
  background-color: rgba(252, 250, 250, 0.944);
  padding: 15px;
  width: 250px;
}
#footer .email-send button {
  background-color: #1b1d1f;
  color: white;
  padding: 13px 29px;
  border-radius: 5px;
}
#footer .footer-list a {
  color: rgba(41, 41, 41, 0.8);
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
}
#footer .footer-list ul {
  margin: 0px !important;
  padding: 0px !important;
}
#footer .footer-title {
  margin-top: 30px;
}
#footer .footer-title h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 19px;
}

#teachers {
  margin: 80px 0;
}
#teachers .teachers-des {
  color: var(--gray);
}
#teachers .span-green {
  color: var(--green);
}
#teachers .card-title {
  font-size: 18px;
  font-weight: 600;
  line-height: 21px;
  color: #1b1d1f;
}

#course-info .course-info-title h2 {
  color: var(--green);
}
#course-info .course-info-des {
  color: var(--gray);
}

#course-icon {
  margin: 50px 0;
  padding: 50px 0;
  background: rgb(246, 247, 250);
}
#course-icon .course-icon-item-img img {
  width: 50px;
  height: 50px;
}

#contact .contact-title h1 {
  color: var(--green);
}
#contact .contact-des {
  color: var(--gray);
}
#contact .contact-m {
  margin-top: 40px;
}